@font-face {
    font-family: 'harry_potterregular';
    src: url('../src/assets/font/harrp___-webfont.woff2') format('woff2'),
        url('../src/assets/font/harrp___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'harry_potterregular';
    text-shadow: 3px 3px black;
    color: orange
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}